.news {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 3px #cbcbcb;
  padding: 10px 10px;
  h3 {
    color: #1877F2;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
  }
}
