.linksBlock {
  margin-left: -5px;
  width: 67.5%;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  left: 0;
  a {
    width: 90%;
    height: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
      background: #D8DADF;
    }
    img {
      width: 35px;
      height: 35px;
      border-radius: 50px;
    }
    i {
      width: 35px;
      text-align: center;
      font-size: 30px;
    }
    .fa-user-friends {
      background: linear-gradient(45deg, #ffbe4c 20%, #fedc60 80%, #FEC260);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .fa-cloud-sun {
      background: linear-gradient(45deg, #0164E1 20%, #16A5FB 80%, #4C5FD4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .fa-map-marked-alt {
      background: linear-gradient(45deg, #3C79DB 20%, #CF4037 80%, #319851);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .fa-record-vinyl {
      background: linear-gradient(45deg, #FEC260 20%, #9536C2 80%, #4C5FD4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      margin-left: 10px;
    }
  }
}
