.profilePage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background: url("https://cdnb.artstation.com/p/assets/images/images/001/179/757/large/dan-zhao-x.jpg?1443931822") no-repeat center;
  background-size: 100%;
  &__avatar {
    width: 30%;
    margin: 100px 0 0 10%;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
