.profilePage {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: url("https://cdnb.artstation.com/p/assets/images/images/001/179/757/large/dan-zhao-x.jpg?1443931822") fixed no-repeat top;
  background-size: 100%;
}
